.container {}

.currencyAndInput {
  margin: 10px;
  display: flex;
}

.currencyInput {
  border: none;
  text-align: right;
  width: 70%;
}

.balance {
  color: grey;
}

.select {
  background: none;
  border: none;
  width: 30%;
}

.select, .currencyInput {
  font-size: 2em;
}

